ALB_ARN=<arn-of-the-alb>
ALB_DNS=<alb-dns-name>
ALB_SG_ID=<alb-security-group-id>
ALB_CANONICAL_HOSTED_ZONE_ID=<hosted-zone-id>
LISTENER_ARN=<arn-of-the-listener>
CLUSTER_NAME=<ecs-cluster-name>
REPOSITORY_NAME=<ecr-repository-name>
DOMAIN_NAMES=<domain1.example.com>,<domain2.example.com>
